


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.main {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.todo-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  
}



/* .todo-list input {
  margin-bottom: 10px;
} */

.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-list li {
  margin-bottom: 5px;
}


.adding-Task,.doing-Task,.done-Task{
  text-align: center;
 border: solid 1px black;
  width: 70vh;
  background-color: #4b4949;
  border-radius: 5px;
}

.quoteAndQuoteButton{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
}
.quoteUpdater{
  margin-top: 15px;
  margin-left: 10px;
  height: 20px;
  width: 55px;
  
}

.taskAdder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* width: 10%; */
  /* padding: 30px; */

}

.taskInputField{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}


.taskSubmitBtn{
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  /* color: black; */
  /* background-color: transparent; */
  border-radius: 8px;
  width: 4cm;
  text-align: center;
  text-wrap: nowrap;
}
 










.legal-section {
  text-align: center;
}




