


.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.main {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.todo-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  
}



.todo-list input {
  margin-bottom: 10px;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-list li {
  margin-bottom: 5px;
}


.adding-Task,.doing-Task,.done-Task{
  text-align: center;
 border: solid 1px black;
  width: 70vh;
  background-color: aqua;
  border-radius: 5px;
}

.quoteAndQuoteButton{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap
}
.quoteUpdater{
  margin-top: 15px;
  margin-left: 10px;
  
 height: 20px;
  width: 55px;
}


.legal-section {
  text-align: center;
}




